.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 270px;
  padding-top: 100px;
  background-color: #f2f2f2;
}
