.footer__column-link_social_text_youtube{
  display: flex;
  color: #f2f2f2;
  width: 100%;
  /*line-height: 30px;*/
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
}
